%p Use this tool to find your Zotero user id. Just enter the username and it'll find the number for you. This is useful for the various API libraries for Zotero.

%p 
	%form{:id => 'finder', :method => 'post'}
		%label{:for => 'username'} Zotero Username:
		%input{:type => 'text', :id => 'username', :name => 'username', :value => "#{params[:username]}"}
		
		%input{:type => 'submit', :id => "search", :value => 'Find Zotero ID'}

%p#result= "Your Zotero User ID: #{@id}"

%h2 Ways to use your id

%ul
	%li
		%a{:href => "http://rubygems.org/gems/rzotero"} rzotero
	%li
		%a{:href => "http://github.com/clioweb/phpZotero"} phpZotero