%p 
	%form{:id => 'finder', :method => 'post'}
		
		%label{:for => 'username'} Zotero Username:
		%input{:type => 'text', :id => 'username', :name => 'username'}
	
		%input{:type => 'submit', :id => "search", :value => 'Find Zotero ID'}


		
%h2 Ways to use your id

%ul
	%li
		%a{:href => "http://rubygems.org/gems/rzotero"} rzotero
	%li
		%a{:href => "http://github.com/clioweb/phpZotero"} phpZotero